*{
    margin: 0%;
    padding: 0%;
}
 #mainheader nav ul{

    height: 30px ;
    width: 100%;
    background-color: blue;
    display: flex;
    text-decoration: none;
    content: space between;
    gap: 30px;
    margin-right: 50%;
    text-align: center;
    padding: 3px;

}